/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* utils */
.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    


}

.flex-conteiner {
    display: flex;
    min-height: 800px;

}

header {
    background-color: rgb(174, 216, 230) ;
    min-width: 100%;
    padding: 10px 200px;
    flex-shrink: 1;
}

#logobox,#linkbox,#loginbox {
    background-color: rgb(218, 165, 32);
    padding: 10px;
    border: 1px dashed black;
    height: 30px;
}

#logobox,#loginbox {
    width: 25%;
}

#linkbox {
    width: 50%;
    text-align: center;
}

#loginbox {
    text-align: end;
}

.blue-section {
    background-color: rgb(9, 0, 139);
    min-width: 100%;
    flex-basis: 100%;
    padding: 30px 250px;


}

#prpl {
    height: 800px;
    background-color: rgb(238, 129, 237);
    border: 1px dashed black;

}

.wht-section {
    background-color: rgb(255, 255, 255);
    min-width: 100%;
    flex-basis: 100%;
    padding: 30px 150px;
}

.lghtblue-sqr {
    width: 60%;
    border: 1px dashed black;
    background-color: rgb(28, 144, 255);
}

.pnk-sqr {
    width: 40%;
    background-color: rgb(255, 192, 202);
    border: 1px dashed black;
}


.gry-section {
    background-color: lightgrey;
    min-width: 100%;
    flex-basis: 100%;
    padding: 30px 150px;
}

.grn-sqr {
    width: 100%;
    border: 1px dashed black;
    background-color: rgb(33, 140, 33);
}

.drkgry-section {
    background-color: rgb(35, 39, 42);
    min-width: 100%;
    flex-basis: 100%;
    padding: 30px 150px;
}

.pnk2-sqr {
    width: calc(100% / 3);
    border: 1px dashed black;
    background-color: rgb(240, 128, 128);
}

.aqua-sqr {
    width: calc(100% / 6);
    border: 1px dashed black;
    background-color: rgb(33, 140, 33);
}

.aqua2-sqr {
    width: 100%;
    border: 1px dashed black;
    background-color: rgb(127, 255, 211);
    justify-content: space-between;
}

.buttonbox {
    background-color: rgb(255, 182, 193);
    border: 1px dashed black;
    
}